.role {
    /* background-color: black; */
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 240px;
}
.role .b1 {
    /* border: 2px solid red; */
    width: 194px;
    height: 194px;
    margin: 3px;
}
.role .b1.b {
    border: 2px solid red;
    margin: 1px;
}
.role .b2 {
    /* border: 2px solid blue; */
    width: 188px;
    height: 188px;
    margin: 3px;
}
.role .b2.b {
    border: 2px solid blue;

    margin: 1px;
}
.role .toux {
    border: 1px solid brown;
    margin: 1px;
    width: 184px;
    height: 184px;
    /* background-image: url("img/head1.jpg"); */
}

.role .state {
    border: 1px solid blueviolet;
    width: 192px;
    height: 36px;
    margin-left: 2px;
    padding: 1px;
}

.state .v {
    border: 1px solid burlywood;
    width:  188px;
    height: 10px;
    text-align: center;
    font-size: 12px;
    position: relative;
}
.state .v2 {
    /* border: 1px solid burlywood; */
    border-radius: 3.5px;
    width:  188px;
    height: 7px;
    margin-top: 2px;
}
.v .hp {
    background-color: red;
    height: 100%;
    width: 78%;
}
.v .mp {
    background-color: blue;
    height: 100%;
}
.v2 .dutiao {
    border-radius: 3.5px;
    background-color: yellowgreen;
    width: 70%;
    height: 100%;
}

#r1 {
    position: absolute;
    top: 30px;
    left: 48px;
}
#r2 {
    position: absolute;
    top: 280px;
    left: 48px;
}

.v span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#msg {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: aqua;
    z-index: 10;
}
.hide {
    display: none;
}
.show {
    display: block;
}