.role {
    /* background-color: black; */
    border: 1px solid black;
    display: inline-block;
    width: 200px;
    height: 240px;
}
.role .b1 {
    /* background-color: rgb(252, 240, 222); */
    border: 2px solid red;
    width: 194px;
    height: 194px;
    margin: 1px;
}
.role .b2 {
    border: 2px solid blue;
    width: 188px;
    height: 188px;
    margin: 1px;
}
.role .toux {
    border: 1px solid brown;
    margin: 1px;
    width: 184px;
    height: 184px;
}

.role .state {
    border: 1px solid blueviolet;
    width: 192px;
    height: 36px;
    margin-left: 2px;
    padding: 1px;
}

.state .v {
    border: 1px solid burlywood;
    width:  188px;
    height: 10px;
}
.state .v2 {
    border: 1px solid burlywood;
    width:  188px;
    height: 8px;
    margin-top: 2px;
}
.v .hp {
    background-color: red;
    height: 100%;
    width: 78%;
}
.v .mp {
    background-color: blue;
    height: 100%;
}
.v2 .dutiao {
    background-color: yellowgreen;
    height: 100%;
}